* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


header {
    position: sticky;
    top: 0;
    z-index: 1;
    margin: 0 auto;

}

.part_top_header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;   
    background-color: #10BBD5;
}
.content-part_top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: #10BBD5;
    width: 1320px;
    height: 40px;
}

.bookRead {
    display: flex;
    align-items: center;
    flex-direction: row;
}



.total_price {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.price-style {
    color: #F8FDFE;
    font-family: Cabin;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.basket-button {
    position: relative;
}

.basket {
    background-image: url(/images/basket.svg);
    background-size: cover;
    border: none;
    background-color: #10BBD5;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.zero {
    position: absolute;
    top: 13px;
    right: 12px;
    color: #000;
    font-family: Cabin;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 10px;
}

.part_bottom_header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;   
    background-color: #FFF;
}
.content-part_bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 4px;
    margin-bottom: 4px;
    width: 1320px;
    height: 24px;
    background: #FFF;
}

.style-menu {
    color: #000;
    font-family: Cabin;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.right-part-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}



.wrapper-for-main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;   
    background-color: #EEEEEF;
    padding-bottom: 120px;
}

.wrapper_grid {
    margin: 0 auto;
}

.title_main {
    margin-top: 32px;
    margin-bottom: 24px;
    padding-bottom: 23px;
    border-bottom: 1px solid #A8A8A8;
    color: #1F1F1F;
    font-family: Cabin;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 24px 32px;  
     
}

.grid_cell {
    width: 306px;
    height: 512px;
    background-color: white;
    border: 1px solid #8E8E8E;
    display: inline-flex;
    padding: 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}


.conteiner_for_img {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: white;
    width: 242px;
    height: 280px;
}

.cover {
    width: 178px;
    height: 280px;
}

.grid_cell-text-one {
    width: 242px;
    border-bottom: 1px solid #A8A8A8;
    overflow: hidden;
    color: var(--black, #1F1F1F);
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: Cabin;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
}

.grid_cell-text-two {
    overflow: hidden;
    color: var(--gray, #8E8E8E);
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: Cabin;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 8px;
}


.two-price {
    display: flex;
    gap: 24px;
}
.price {
    color: #E90000;
    font-family: Cabin;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
}
.price-other {
    color: var(--gray, #8E8E8E);
    font-family: Cabin;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    text-decoration-line: strikethrough;
}


.button {
    width: 241px;
    padding: 8px 24px;
    border: none;
    background-color: #4C394E;
    cursor: pointer;
    border-radius: 4px;
    transition: 0.5s;
}

.main-button-text {
    color: var(--white, #F8FDFE);
    text-align: center;
    font-family: Cabin;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.button:hover {
    background-color: #744978;
}

.other {
    background-color: #4D762D;
}

.other:hover {
    background-color: #6DB236;
}






.sticker-style {
    color: #F8FDFE;
    text-align: center;
    font-family: Cabin;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.sticker_form {
    border-radius: 4px;
    padding: 4px 8px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.hit {
    background-color: #4200FF;
}

.new {
    background-color: #AF39E7;
}

.discount {
    background-color: #EA33C0;
}

.sticker {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    gap: 5px;
}


.chat {
    width: 1400px;
    position: fixed;
    top: 900px;
    display: flex;
    justify-content: end;
    z-index: 1;
}

.style-for-chat {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #10BBD5;
    border-radius: 50%;
    width: 64px;
    height: 64px;
    cursor: pointer;
    transition: 0.5s;
}

.style-for-chat:hover {
    transform: rotate(35deg);
}





.style-background-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;   
    background-color: #4C394E;
}
.footer-form {
    width: 1320px;
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: #4C394E;
    display: flex;
    justify-content: space-between;
}

.style-text-footer {
    color: var(--white, #F8FDFE);
    font-family: Cabin;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}